.secondary-button {
    width: 100%;
    font-family: HelveticaNeueBold;
    border-radius: 0 !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    text-align: center;
    color: #585d63;
    border: 1px solid #333f48;
}

.secondary-button:hover, .secondary-button:focus, .secondary-button:active {
    color: red;
    border: 1px solid red;
    background-color: transparent;
    box-shadow: 0 0 0 0rem rgba(52, 58, 64, 0.5) !important;
}

.primary-button {
    width: 100%;
    font-family: HelveticaNeueBold;
    border-radius: 0 !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
}

.primary-button:hover, .primary-button:visited, .primary-button:focus {
    background-color: #DA291C;
    border: 1px solid #DA291C;
    box-shadow: 0 0 0 0rem rgba(52, 58, 64, 0.5) !important;
}

.error-msg {
    font-family: HelveticaNeueReg;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #ff1100;
    text-align: left;
    margin-top: 1%;
    position: absolute;
}

/* model profile Options start */

.profileOptionTopAdj {
    margin-top: 10%;
    margin-bottom: 10%;
}

.modal.show {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.profileOptionsModelBox {
    width: 370px;
    height: 220px;
    /* transform: translate(-10%,-10%);     */
}

.profileOptionsModelContent {
    border-radius: 0%;
}

.profileOptionsModelBody {
    padding: 0%;
}

.profileOptionsModelClose {
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
    color: #909aa1;
}

.profileOption {
    cursor: pointer;
    position: relative;
    margin-left: 120px;
    margin-top: -50px;
}

/* model profile Options end */

/* model OTP start */

.otpTopAdj {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 57px;
    margin-right: 57px;
}


.modal.show {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}
.otpModelContent {
    border-radius: 0%;
}

.otpModelBody {
    padding: 0%;
}

.otpModelClose {
    margin-right: 10px;
    color: #909aa1;
}


/* model OTP end */