html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.landing {
    min-height: 85%;
}

.conOfRentAdj {
    width: 60%;
    margin-left: 15%;
    margin-top: 12%;
}


.logoTopAdj {
    margin-top: 20px;
    /* display: flex;   
    justify-content:flex-start; */
}
.loginBtnAdj {
    margin-top: 40px;
    background-color: transparent;
    color : white;
    width: 100%;
    font-family: HelveticaNeueBold;
    border-radius: 0 !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    text-align: center;
    border: 0.5px solid #a7a9ad;
}

.singUpBtnAdj {
    margin-top: 40px;
    color: white;
    background-color: transparent;
    width: 100%;
    font-family: HelveticaNeueBold;
    border-radius: 0 !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    text-align: center;
    border: 0.5px solid #a7a9ad;
}



.landing-image {
    height: 85vh;
    float: left;
    width: 70%;
    /* overflow: auto; */
    padding-bottom: 15%;
    background-image: url("../../Assets/images/landingPageImage.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;

}

.landing-image.clicked {
    height: 85vh;
    width: 66.6%;
    float: left;
    /* overflow: auto; */
    padding-bottom: 15%;
    background-image: url("../../Assets/images/landingPageImage.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.landing-slide-content {
    width:100%;
    height: 85vh;
    margin-left: 133.5%;
    padding-bottom: 15%;
    position: relative;
    background-size: 80% 100%;
    background-repeat: no-repeat;
    -webkit-transition: background-size 1s ease;
    -moz-transition: background-size 1s ease;
    -o-transition: background-size 1s ease;
    transition: background-size 1s ease;
}

/* .landingSideCloseBtn {
    margin-top: 1%;
    margin-left: 90%;
    position: relative;
} */

.landing-slide-content.slideadd {
    height: 85vh;
    margin-left: 66.5%;   
    padding-bottom: 15%;
    bottom: 15%;
    position: absolute;
    z-index: 1;
    width: 33.5%;
    -webkit-transition: margin-left 1s ease;
    -moz-transition: margin-left 1s ease;
    -o-transition: margin-left 1s ease;
    transition: margin-left 1s ease;
}




/* html , body {
    height: 100%;
} */

/* .login-right-pane {
    width: 33.5%;
    height: 85vh;
    background-color: #f3f9ea; 
} */

.landingSideCloseBtn {
    /* margin-top: 1%; */
    margin-left: 82%;
    position: absolute;
    margin-top: -4%;
    cursor: pointer;
}

.login-main {
    width: 100%;
    height: 74vh;
    background-color: #f3f9ea;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 8%; 
    padding-bottom: 11vh; 
    margin: 0%;
    
    /* border: 2px solid red;  */
}


 

.login-illustration {
    /* padding-bottom: -50%; */
    height:11vh;
    background-color: #f3f9ea;
    /* border: 2px solid yellow;  */

}

/* .loginForm {
    margin-top: 5%;
    background-color: #f3f9ea;
} */

.login-text {
    font-family: HelveticaNeueMed;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333f48;
}
.alert{
    /* display: none; */
    margin-top: -75px;
    border-radius: 0 !important;
    background-color: white; 
    border: solid 1px #8bc43e;
    padding: 0;
  
}

/* .signup-success {
    background-color: #ffffff;
    padding: 0% 0%;
} */


.reg-success-msg {
    display: inline-block;
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #585d63;
    margin-left: 3%;
}

.signup-success-close {
    margin-right: 5px;
}

.reg-success-tick {
    float: left;
    margin-right: 2%;
}


.login-main .login-input {
    position: relative;
}

.login-main .login-input input {
    width: 100%;
    box-sizing: border-box;
    background-color: #f3f9ea;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 0.5px solid #a7a9ad;
    padding: 4% 0; 
    font-family: HelveticaNeueMed;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2.2px;
    color: #333f48;
}

.login-main .login-input label {
    position: absolute;
    top: 46%;    
    transition: .5s;
    left: 0%;
    pointer-events: none;
    font-family: HelveticaNeueMed;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2.2px;
    color: #333f48;
}

.login-main .login-input input:focus ~ label,
.login-main .login-input input:valid ~ label
 {
    top: -1%;
    left: 0%;
    font-family: HelveticaNeueMed;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1.7px;
    color: #cbcfd6;
}

.login-main .login-input input:focus,
.login-main .login-input input:valid {
   border-bottom: 1px solid grey; 
}

.login-pswrd-err {
    font-family: HelveticaNeueReg;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ff1100;
    text-align: left;
    left: 0%;
    margin-top: 1%;

}

.login-mail-err {
    font-family: HelveticaNeueReg;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ff1100;
    text-align: left;
    left: 0%;
    margin-top: 1%;
}

.login-remembr-forgot-div {
    margin-top: 8%;
    /* margin-left: 0%; */
    margin-right: 0%;
    margin-bottom:4%;
}



/* The container */
.login-remember-txt {
    display: block;
    position: relative;
    padding-left: 15%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.73;
    letter-spacing: 0.7px;
    color: #333f48;
}

/* Hide the browser's default checkbox */
.login-remember-txt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.login-remember-chck {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    width: 18px;
    height: 17px;
    background-color:#e4eaec;
}

/* On mouse-over, add a grey background color */
.login-remember-txt:hover input ~ .login-remember-chck {
    background-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.login-remember-chck:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.login-remember-txt input:checked ~ .login-remember-chck:after {
    display: block;
}

/* Style the checkmark/indicator */
.login-remember-txt .login-remember-chck:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #030608;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.login-forgot-pswrd {
   padding: 0 !important;
   margin: 0   !important;
}

.login-forgot-pswrd a{
    margin-top: 2%;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    float: right;
    color: #23527c;
}



.login-button {
    width: 100%;
    font-family: HelveticaNeueBold;
    border-radius: 0 !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    padding: 3% 3%;
}

.login-or-txt {
    margin: 3% 0%;
    text-align: center;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6f747a;
}

.uaeLogin {
    width: 100%;
    font-family: HelveticaNeueBold;
    border-radius: 0 !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    text-align: center;
    color: #585d63;
    padding: 3% 0%;
    border: 0.5px solid #a7a9ad;
}

.uaeLogin:hover, .uaeLogin:focus, .uaeLogin:active {
    background-color: #F2F2F2;
    color: #585d63;
}


.login-fb-google-div {
    margin-top: 2.5%;
}

.login-fb-txt {
    font-family: HelveticaNeueBold;
    font-size: 0.8em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    color: #585d63;
}

.login-google-txt {
    font-family: HelveticaNeueBold;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    color: #585d63;
}
 
.fbLogin {
    float: left;
    width: 105%; 
    border-radius: 0 !important; 
    border: 0.5px solid #a7a9ad;
    padding: 5% 3%;
 }
 
 .fbLogin:hover, .fbLogin:focus, .fbLogin:active {
     background-color: #F2F2F2;
 }
 
 .googleLogin {
     float:right;
     width: 105%; 
     border-radius: 0 !important; 
     border: 0.5px solid #a7a9ad;
     padding: 5% 3%;
 }
 
 .googleLogin:hover, .googleLogin:focus, .googleLogin:active {
     background-color: #F2F2F2;
 }

 .loginNoAcntTxt{
    text-align: center;
    margin-top: 5%;
    font-family: HelveticaNeueReg;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: normal;
    text-align: center;
    color: #585d63;
    margin-bottom:0%;
}

.loginSignUpTxt {
    font-family: HelveticaNeueReg;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #23527c;
}


@media screen and (min-width: 300px) and (orientation:potrait) {
    .logoTopAdj {
        margin-top: 10px;
    }
    
}

@media screen and (max-width: 480px) {
    body {
        height: 100%;
        overflow-y: auto;
    }
    /* }
    .landing {
        min-height: 77%;
    } */

    .login-main {
        height: 62vh;
    } 

    .login-illustration {
        height: 11vh;
    }
    .conOfRentAdj {
        display: none;
    }
    .loginBtnAdj {
        margin-top: 50%;
        vertical-align: middle; 
    }
    .logoTopAdj {
        margin-top: 2%;
    }
    
    .landing-slide-content.slideadd {
         height: 73vh; 
        overflow: hidden;
        margin-left: 10%;
        margin-right: 10%;
        top:12%;
        /* bottom: 20%;    */
        padding-bottom: 15%;
        position: absolute;
        z-index: 1;
        background-color: azure;
        width: 80%;
        -webkit-transition: margin-left 1s ease;
        -moz-transition: margin-left 1s ease;
        -o-transition: margin-left 1s ease;
        transition: margin-left 1s ease;
    }

    

    .landing-image.clicked {
        height: 85vh;
        width: 100%;
        float: left;
        /* overflow: auto; */
        padding-bottom: 15%;
        background-image: url("../../Assets/images/landingPageImage.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

   .login-remember-txt {
       font-size: 0.6em;
       padding-left: 25%;
       white-space: nowrap;
       /* border:2px solid red; */
   }

   .login-forgot-pswrd a{
    font-size: 0.6em;
   }

   .alert {
       margin-top: -60px;
   }

   .reg-success-msg {
    font-size: 0.6em;
   }

   .fbLogin {
       width: 115%;
   }
   .googleLogin {
    width: 115%;
    }

    .login-fb-txt {
        font-size: 0.6em; 
    }
    .login-google-txt {
        font-size: 0.6em; 
    }
    
}

@media screen and (max-width: 768px) {

    .logoTopAdj {
        margin-top: 10px;
    }


}
