
.create-password-Container {
    height: 100vh;
    /* width: 100vw; */
}

.create-password-left-side{
    height: 100vh;
    width: 66.5%;
    float: left;
    margin-bottom: 20vh;
     
}

    
    
.create-password-left-side img {
    width: 100%;
    height: 100vh;
    max-width: 100%;
}

.create-password-footer {
    position: relative;
    height: 20vh;
}

.create-password-right-side {
    float: left;
    width: 33.5%;
    height: 100vh;
    background-color: #f7f7f7; 
}

.create-password-main {
    width: 100%;
    height: 100vh;
    background-color: #f7f7f7;
    padding-left: 11%;
    padding-right: 11%;
     margin-left: 0%;
}

.create-password-form {
   
    background-color: #f7f7f7;
}

.form-group {
    margin-bottom: 4rem;
}
.create-password-main-text {
    padding-top: 15%;
    padding-bottom: 10%;
    font-family: HelveticaNeueMed;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333f48;
}

.create-password-text {
    padding-top: 15%;
    font-family: HelveticaNeueMed;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333f48;
}


.create-password-reg-text {
    margin-top: 12%;
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #585d63;
}

.create-password--main .create-password-input {
    position: relative;
}

.create-password-main .create-password-input input {
    width: 100%;
    box-sizing: border-box;
    background-color: #f3f9ea;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 0.5px solid #a7a9ad;
    padding: 4% 0; 
    font-family: HelveticaNeueMed;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2.2px;
    color: #333f48;
}

.create-password-main .create-password-input label {
    position: absolute;
    top: 46%;    
    transition: .5s;
    left: 0%;
    pointer-events: none;
    font-family: HelveticaNeueMed;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2.2px;
    color: #333f48;
}

.create-password-main .create-password-input input:focus ~ label,
.create-password-main .create-password-input input:focus ~ valid
 {
    top: -1%;
    left: 0%;
    font-family: HelveticaNeueMed;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1.7px;
    color: #cbcfd6;
}

.create-password-main .create-password-input input:focus,
.create-password-main .create-password-input input:valid {
   border-bottom: 1px solid grey; 
}

.create-password-mail-err {
    font-family: HelveticaNeueReg;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ff1100;
    text-align: left;
    left: 0%;
    margin-top: 1%;
}

.create-password-submit-text {
    width: 100%;
    font-family: HelveticaNeueBold;
    border-radius: 0 !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    padding: 3% 3%;
}



