body {
    overflow-y: scroll;
    margin-bottom: 10%;
}
.landingEmailVer {
    width: 66.7%;
    height: 90vh;
    overflow: hidden;
    float: left;
    background-image: url("../images/landing.jpg");
    background-size: 100% 100%;
}

.sidePaneEmailVer {
    float: left;
    overflow: hidden;
    width: 33.3%;
    margin: 0;
    height: 90vh;
}

.dpamLogoEmailVer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.sidePaneEmailVer form div {
    position: relative;
}


#gmailBtn {
    width: 100%;
    margin-top: 8%;
    font-family: HelveticaNeueBold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

#resendVeriBtn {
    width: 100%;
    margin-top: 8%;
    font-family: HelveticaNeueBold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 1px;
    white-space:normal;
    text-align: center;
    color: #585d63;
}



.VerifyEmailTxt {
    /* width: 105px; */
    margin-top: 5%;
    margin-left: 9%;
    height: 26px;
    font-family: HelveticaNeueMed;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #243745;
}

#FormDivEmailVer {
    padding: 0% 9%;
    height: 80vh;
}

.emailPhOtpErr {
    font-size: 12px;
    margin-bottom: 7%;
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #da291c;
}

#ResendOtpText {
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #585d63;
}

.verifyEmailLinkMsg {
    text-align: left;
    margin-left: 9%;
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #243745;
}
#resendVeriBtn:hover {
    color: #ffffff;
}

.otpRegNumSentSecond {
    text-align: left;
    margin-left: 10%;
    /* margin-top: -5px; */
}

@media screen and (min-width: 300px) and (orientation:potrait) {
    .landingEmailVer {
        /* border: 2px solid blue; */
        display: none;
    }
    .sidePaneEmailVer {
        width: 100%;
        overflow-y: scroll;
        text-align: center;
        overflow-x: scroll;
    }
}

@media screen and (max-width: 480px) {
    .landingEmailVer {
        /* border: 2px solid blue; */
        display: none;

    }
    .sidePaneEmailVer {
        width: 100%;
        text-align: center;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 768px) {
    .landingEmailVer {
        /* border: 2px solid blue; */
        display: none;
    }
    .sidePaneEmailVer {
        text-align: center;
        width: 100%;
        overflow-y: scroll;    
    }
    .VerifyEmailTxt  {
        text-align: left;
    }
    .verifyEmailLinkMsg {
        text-align: left;
    }
}