#footer {
  background-color: #585d63;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:10%;
  color: whitesmoke;
  font-size: 11px;
  white-space: normal;
}

.footerTopAdj {
  margin-top: 2%;
}
.dubaiColAdj {
  display: flex;
  justify-content:center;
}
.midCols1Adj {
  display: flex;
  justify-content:center;   
}
.midCols2Adj {
  display: flex;
  justify-content:center;   
}

.fbColAdj {
  display: flex;
  justify-content:flex-end; 
  height: 20px;
  width: 20px;
}

.instColAdj {
  display: flex;
  justify-content:flex-start;
  height: 20px;
  width: 20px;
}

@media(max-width:576px){
  /* .mainSection {
      height: 100%;
      text-align: center;
      overflow: auto;
      padding-bottom: 10%;
  }
  */
  #footer {
      background-color: #585d63;
      /* position: relative; */
      /* border: 2px solid yellow; */
      /* height: 21%; */
      /* color: whitesmoke;
      font-size: 11px;
      white-space: normal; */
      /* overflow-y: auto; */
  } 
  .midCols1Adj {
      display: flex;
      justify-content:flex-end;   
      /* margin-top: 2%; */
  }
  .midCols2Adj {
      display: flex;
      justify-content:flex-start;   
      /* margin-top: 2%; */
  }
  .fbColAdj {
      display: flex;
      justify-content:flex-end; 
      height: 20px;
      width: 20px;
  }
  
  .instColAdj {
      display: flex;
      justify-content:flex-start;
      height: 20px;
      width: 20px;
  }
}
/* tab */
@media(max-width:768px){
  /* .mainSection {
      height: 100%;
      text-align: center;
      overflow: auto;
      padding-bottom: 10%;
  }
  */

  body {
    margin-bottom: 14%; /* bottom = footer height */
}
  #footer {
      background-color: #585d63;
      height: 18%;
      /* position: relative;
      
      color: whitesmoke;
      font-size: 11px;
      white-space: normal;
      overflow-y: auto; */
      /* border: 3px solid orange; */
  } 
  .midCols1Adj {
      display: flex;
      justify-content:flex-end;   
      /* margin-top: 2%; */
  }
  .midCols2Adj {
      display: flex;
      justify-content:flex-start;   
      /* margin-top: 2%; */
  }
  .fbColAdj {
      display: flex;
      justify-content:flex-end; 
      height: 20px;
      width: 20px;
  }
  
  .instColAdj {
      display: flex;
      justify-content:flex-start;
      height: 20px; 
      width: 20px;
  }
}

/* Medium */
@media(min-width:768px) and (max-width:1199px){
  /* .mainSection {
      height: 100%;
      text-align: center;
      overflow: auto;
      padding-bottom: 14%;
  } */

  .midCols1Adj {
      display: flex;
      justify-content:flex-end;   
      /* margin-top: 2%; */
  }
  .midCols2Adj {
      display: flex;
      justify-content:flex-start;   
      /* margin-top: 2%; */
  }

  .fbColAdj {
      display: flex;
      justify-content:flex-end; 
      height: 20px;
      width: 20px;
  }
  
  .instColAdj {
      display: flex;
      justify-content:flex-start;
      height: 20px;
      width: 20px;
  }

}

