

.forgotPswrdlanding {
    width: 66.7%;
    height: 92.5vh;
    overflow: hidden;
    float: left;
    /* border: 2px solid red; */
    background-image: url("../images/landing.jpg");
    background-size: 100% 100%;
    
}

.forgotPswrdRightPane {
    float: left;
    overflow: hidden;
    width: 33.3%;
    max-width: 500px;
    right:0;  
    margin: 0;
    height: 92.5vh;
  }

  .forgotPswrdDpamLogo {
    text-align: center;
    margin: 24px 0 12px 0;
}

#forgotPswrdFormDiv {
    padding: 0% 9%;
    height: 61vh;
}

#emailMobForgotPswrd {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
    padding: 5px 0;
    font-size:16px;
    font-family: HelveticaNeueReg;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #243745;
    /* margin-bottom: 30px; */
}

.forgotPswrdRightPane form div {
    position: relative;
}

#emailMobForgotPswrdTxt {
    position: absolute;
    top: 10px;
    color: #999;     
    transition: .5s;
    pointer-events: none;
}

#emailMobForgotPswrd:focus ~ label,
#emailMobForgotPswrd:valid ~ label
{
    top: -9px;
    left: 0px;
    color: grey;
    font-size: 12px;
    /* font-weight: bold; */
}

#emailMobForgotPswrd:focus,
#emailMobForgotPswrd:valid{
   border-bottom: 1px solid grey; 
}

#isForgotPswrd {
    margin-top: 12%;
    font-family: HelveticaNeueMed;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #243745;
}

.enterEmailMobForgtPswrd {
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #243745;
}

#sendFrgtPswrdBtn {
    width: 100%;
    margin-top: 8%;
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 1px; 
    text-align: center;
    color: #ffffff;
    padding: 14px 0;
}

#noAcntFrgtPswrdTxt{
    text-align: center;
    margin-top: 8%;
  font-family: HelveticaNeueLight;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #585d63;
}

#signUpFrgtPswrdText {
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4ea6f1;
}

@media only screen and (min-width: 768px) {
    .loginFooter {
        position: fixed;
        height: 60px;
        width: 100%;
        bottom: 0;
        border: 2px solid #585d63;
         background-color: #585d63;  
        color:#ffffff;
        text-align: center;
    }
    .footerDiv{
     padding-top: 23px;
     padding-bottom: 22px;
    
    }
    .dubaiProperties{
        width: 144px;
        height: 15px;
        font-family: HelveticaNeue;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        padding-left: 135px;
      }
    
    .aboutUs {
        width: 58px;
        height: 16px;
        font-family: HelveticaNeue;
        font-size: 13px;
        margin-left:70px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }
    .contact {
            width: 50px;
            height: 16px;
            margin-left: -30px;
            font-family: HelveticaNeue;
            font-size: 13px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
          }
      
    .privacyPolicy {
            width: 87px;
            height: 16px;
            font-family: HelveticaNeue;
            font-size: 13px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            margin-left: -22px;
          }
    
     .termsOfUse{
            width: 83px;
            height: 16px;
            font-family: HelveticaNeue;
            margin-left: -22px;
            font-size: 13px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
          }
.facebookSpan{
         padding-left: 284px;
         margin-top: -7px;
        }
 .instaSpan{
            margin-top: -7px;
            padding-left: 26px;
        }
    
 .facebookLogoButton {
            width: 10px;
            height: 19px;
            object-fit: contain;
          }
.instagramLogo {
        width: 19px;
        height: 19px;
        object-fit: contain;
      }


} 

/*for mobile screen*/
@media only screen and (max-width: 768px) {
    .loginFooter {
        position: fixed;
        width: 100%;
        bottom: 0;
        border: 2px solid #585d63;
         background-color: #585d63;  
        color:#ffffff;
        text-align: center;
    }
    .footerDiv{
     padding-top: 23px;
     padding-bottom: 22px;
    
    }
    .dubaiProperties{
        width: 144px;
        height: 15px;
        font-family: HelveticaNeue;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin-left: -36px;
        margin-top: 1%;
        
      }
    
    .aboutUs {
        width: 58px;
        height: 16px;
        font-family: HelveticaNeue;
        font-size: 13px;
        margin-left:-80px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        padding-top: 20px;
        
      }
    .contact {
            width: 50px;
            height: 16px;
            padding-left:16px;
            font-family: HelveticaNeue;
            font-size: 13px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            
          
          }
      
    .privacyPolicy {
            width: 87px;
            height: 16px;
            font-family: HelveticaNeue;
            font-size: 13px;
            padding-top:15px;
            margin-left:-92px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            
          }
    
     .termsOfUse{
            width: 83px;
            height: 16px;
            font-family: HelveticaNeue;
            margin-left:25px;
            font-size: 13px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            
          }
    .facebookSpan{
        padding-left:215px;
        padding-top: 25px;
    }
    .instaSpan{
        padding-left:26.4px;
        padding-top: 25px;
    }
    
    .facebookLogoButton {
            width: 10px;
            height: 19px;
            object-fit: contain;
          }
    .instagramLogo {
        width: 19px;
        height: 19px;
        object-fit: contain;
      }
}