body {
    margin-bottom: 10%; 
}

.forgotPswrdlanding {
    width: 66.7%;
    height: 90vh; 
    overflow: hidden;
    float: left;
    background-image: url("../../Assets/images/landing.jpg");
    background-size: 100% 100%;
    
}

.forgotPswrdRightPane {
    float: left;
    overflow: hidden;
    width: 33.3%; 
    margin: 0;
    height: 90vh;
  }

#forgotPswrdFormDiv {
    padding: 0% 9%;
    height: 80vh;
}

.forgotPswrdDpamLogo {
    text-align: center;
    margin: 24px 0 12px 0;
}



#emailMobForgotPswrd {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
    padding: 5px 0;
    font-size:16px;
    font-family: HelveticaNeueReg;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #243745;
}

.forgotPswrdRightPane form div {
    position: relative;
}

#emailMobForgotPswrdTxt {
    position: absolute;
    top: 10px;
    color: #999;   
    left: 0%;  
    transition: .5s;
    pointer-events: none;
    font-family: HelveticaNeueLight;
    font-size: 16px;
}

#emailMobForgotPswrd:focus ~ label,
#emailMobForgotPswrd:valid ~ label
{
    top: -9px;
    left: 0px;
    color: grey;
    font-size: 12px;
}

#emailMobForgotPswrd:focus,
#emailMobForgotPswrd:valid{
   border-bottom: 1px solid grey; 
}

#forgotPswrdTxt {
    margin-top: 12%;
    font-family: HelveticaNeueMed;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #243745;
}

.enterEmailMobForgtPswrd {
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #243745;
}

.emailMobForgtPswrdErr {
    margin-bottom: 7%;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #da291c;
}

#sendFrgtPswrdBtn {
    width: 100%;
    margin-top: 8%;
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 1px; 
    text-align: center;
    color: #ffffff;
    padding: 14px 0;
}

#noAcntFrgtPswrdTxt{
    text-align: center;
    margin-top: 8%;
  font-family: HelveticaNeueLight;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #585d63;
}

#signUpFrgtPswrdText {
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4ea6f1;
}

@media screen and (min-width: 300px) and (orientation:potrait) {
    .forgotPswrdlanding {
        display: none;
    }
    .forgotPswrdRightPane {
        overflow-y: scroll;
        text-align: center;
        overflow-x: scroll;
        width: 100%;
        height:75vh;
    }

    #forgotPswrdTxt{
        text-align: left;
    }
   
}

@media screen and (max-width: 480px) {
    .forgotPswrdlanding {
        display: none;
    }
    .forgotPswrdRightPane {
        width: 100%;
        text-align: center;
        overflow-y: scroll;
        height:75vh;
    }

    #forgotPswrdTxt{
        text-align: left;
    }
   
}

@media screen and (max-width: 768px) {
    .forgotPswrdlanding {
        display: none;
    }
    .forgotPswrdRightPane {
        text-align: center;
        width: 100%;
        overflow-y: scroll;
        height:82vh;
    }

    #forgotPswrdTxt{
        text-align: left;
    }


     
    
}



