/* .landingBody{
    margin:0;
    padding:0;
    height: 92%;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid green;
} */

.loginFooter {
    position: fixed;
    height: 8%;
    width: 100%;
    bottom: 0;
    border: 2px solid red;
    /* background-color: #EF5350;  */
    color:red;
    text-align: center;
}

.landing {
    width: 66.7%;
    height: 700px;
    overflow: hidden;
    float: left;
    border: 2px solid green;
    background-image: url("../images/landing.jpg");
    background-size: 100% 100%;
    
}

.login {
  float: left;
  overflow: hidden;
  width: 33.3%;
  max-width: 500px;
  right:0;  
  margin: 0;
  height: 700px;
  border: 2px solid blue;
}

.dpamLogo {
    text-align: center;
    margin: 24px 0 12px 0;
}

span.forgotPswrd {
    float: right;
}


.login input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    color:#999;
    border-bottom: 1px solid #999;
    padding: 10px 0;
    /* margin-bottom: 30px; */
}

.rememberLogin label input{
       width: 10%;
    position: relative;
    display: inline-block;
    
}

.rememberLogin label {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
}


.login form div {
    position: relative;
}
.login form div label {
    position: absolute;
    top: 10px;
    color: #999;     
    transition: .5s;
    pointer-events: none;
}

.login input:focus ~ label,
.login input:valid ~ label
{
    top: -12px;
    left: 0px;
    color: grey;
    font-size: 14px;
    /* font-weight: bold; */
}

.login input:focus,
.login textarea:focus,
.login input:valid{
   border-bottom: 1px solid grey; 
}



#loginBtn {
    width: 100%;
}

#uaeLogin {
    width: 100%
}

#fbLogin {
    text-align: center;
    width: 100%;
}

#googleLogin {
    text-align: center;
    width: 100%;
}

#fbGoogleBtnDiv {
    margin-top: 5%;
}

#loginText {
       margin-top: 8%;
       margin-left: 10%;
}

#loginForm {
    padding: 0% 10%;
}