.landing-backg {
    width: 100%;
    height: 78.7vh;
    background-size: 100%;
    background-image: url("../../Assets/images/landing.jpg");
}

.login-top {

border: 2px solid red;
}


#loginForm {
    background: #ffffff;
    padding: 12.5%;
    margin-top: 15.6%;
    margin-right: 4%;
    height: 68vh;
    border: 2px solid blue;
}

.login-top .loginInput {
    position: relative;
}

.login-top .loginInput input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
    padding: 4% 0; 
    font-family: HelveticaNeueMed;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2.2px;
    color: #333f48;
}

.login-top .loginInput label {
    position: absolute;
    top: 46%;
    color: #999;     
    transition: .5s;
    left: 0%;
    pointer-events: none;
    font-family: HelveticaNeueLight;
    font-size: 16px;
}

.login-top .loginInput input:focus ~ label,
.login-top .loginInput input:focus ~ valid
 {
    top: -1%;
    left: 0%;
    font-family: HelveticaNeueMed;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1.7px;
    color: #cbcfd6;
}

.login-top .loginInput input:focus,
.login-top .loginInput input:valid {
   border-bottom: 1px solid grey; 
}

#loginText {
    width: 69px;
    height: 26px;
    font-family: HelveticaNeueMed;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333f48;
}

/* The container */
.loginRemembrMeTxt {
    display: block;
    position: relative;
    padding-left: 15%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.73;
    letter-spacing: 0.7px;
    color: #333f48;
}

/* Hide the browser's default checkbox */
.loginRemembrMeTxt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.rememberMeChck {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 17px;
    background-color:#e4eaec;
}

/* On mouse-over, add a grey background color */
.loginRemembrMeTxt:hover input ~ .rememberMeChck {
    background-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.rememberMeChck:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.loginRemembrMeTxt input:checked ~ .rememberMeChck:after {
    display: block;
}

/* Style the checkmark/indicator */
.loginRemembrMeTxt .rememberMeChck:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #030608;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.forgtPswrdLogin {
    margin-top: 1%;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #23527c;
}

#loginBtn {
    width: 100%;
    margin-top: 3%;
    border-radius: 0 !important;
    font-family: HelveticaNeueBold;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
}

#orText {
    margin: 1% 0%;
    text-align: center;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6f747a;
}

#uaeLogin {
    width: 100%;
    font-family: HelveticaNeueBold;
    border-radius: 0 !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    text-align: center;
    color: #585d63;
}

#uaeLogin:hover, #uaeLogin:focus, #uaeLogin:active {
    background-color: #F2F2F2;
    color: #585d63;
}


#fbGoogleBtnDiv {
    margin-top: 2%;
}

#fbLogin {
    float: left;
    width: 100%; 
    border-radius: 0 !important; 
 }
 
 #fbLogin:hover, #fbLogin:focus, #fbLogin:active {
     background-color: #F2F2F2;
 }
 
 #googleLogin {
     float:right;
     width: 100%; 
     border-radius: 0 !important; 
 }
 
 #googleLogin:hover, #googleLogin:focus, #googleLogin:active {
     background-color: #F2F2F2;
 }

 #noAcntTxt{
    text-align: center;
    margin-top: 8%;
    font-family: HelveticaNeueReg;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: normal;
    text-align: center;
    color: #585d63;
}

#signUpText {
    font-family: HelveticaNeueReg;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #23527c;
}