.landing-backg {
    width: 100%;
    height: 78.7vh;
    background-size: 100%;
    background-image: url("../../Assets/images/landing.jpg");
}

.login-top {

border: 2px solid red;
}


.loginForm {
    background: #ffffff;
    padding: 12.5%;
    margin-top: 15.6%;
    margin-right: 4%;
    height: 68vh;
border: 2px solid blue;
}

.loginForm .loginInput {
    position: relative;
}

.loginForm .loginInput input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
    padding: 5px 0;
    font-size:16px;
    font-family: HelveticaNeueReg;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #243745;
}

.loginForm .loginInput label {
    position: absolute;
    top: 10px;
    color: #999;     
    transition: .5s;
    left: 0%;
    pointer-events: none;
    font-family: HelveticaNeueLight;
    font-size: 16px;
}

.loginForm .loginInput input:focus ~ label,
.loginForm .loginInput input:focus ~ valid
 {
    top: -9px;
    left: 0px;
    color: grey;
    font-size: 12px;
}

.loginForm .loginInput input:focus,
.loginForm .loginInput input:valid{
   border-bottom: 1px solid grey; 
}