/* .landingBody{
    margin:0;
    padding:0;
    height: 92%;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid green;
} */

/* .mailErr{
    margin-bottom: 5%;
}

.pswdErr {
    margin-bottom: 3%;
} */

.loginFooter {
    position: fixed;
    height: 8%;
    width: 100%;
    bottom: 0;
    border: 2px solid #585d63;
     background-color: #585d63;  
    color:#ffffff;
    text-align: center;
}
.footerDiv{
 padding-top: 23px;
 padding-bottom: 22px;

}
.dubaiProperties{
    width: 144px;
    height: 15px;
    font-family: HelveticaNeue;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-left: 135px;
  }

.aboutUs {
    width: 58px;
    height: 16px;
    font-family: HelveticaNeue;
    font-size: 13px;
    padding-left:262px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
.contact {
        width: 50px;
        height: 16px;
        padding-left:27px;
        font-family: HelveticaNeue;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }
  
.privacyPolicy {
        width: 87px;
        height: 16px;
        font-family: HelveticaNeue;
        font-size: 13px;
        padding-left:27px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }

 .termsOfUse{
        width: 83px;
        height: 16px;
        font-family: HelveticaNeue;
        padding-left:26px;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }

.facebookLogoButton {
        width: 10px;
        height: 19px;
        object-fit: contain;
      }
.instagramLogo {
    width: 19px;
    height: 19px;
    object-fit: contain;
  }
.landing {
    width: 66.7%;
    height: 92vh;
    overflow: hidden;
    float: left;
    /* border: 2px solid red; */
    background-image: url("../images/landing.jpg");
    background-size: 100% 100%;
    
}

.login {
  float: left;
  overflow: hidden;
  width: 33.3%;
  max-width: 500px;
  right:0;  
  margin: 0;
  height: 92vh;
  /* border: 2px solid blue; */
}

.dpamLogo {
    text-align: center;
    margin: 24px 0 12px 0;
}

.login input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    color:#999;
    border-bottom: 1px solid #999;
    padding: 5px 0;
    /* margin-bottom: 30px; */
}


 .rememberLogin label input{
    width: 10%;  
    margin-top:12%;
    /* position: relative; */
    /* display: inline-block; */
    
} 

.rememberLogin label {
    /* display: inline-block;
     vertical-align: middle;  */
    width: 40%;
}

.forgotPswrd {
    float: right;
    margin-top:3%;
}


.login form div {
    position: relative;
}
.login form div label {
    position: absolute;
    top: 10px;
    color: #999;     
    transition: .5s;
    pointer-events: none;
}

.login input:focus ~ label,
.login input:valid ~ label
{
    top: -9px;
    left: 0px;
    color: grey;
    font-size: 12px;
    /* font-weight: bold; */
}

.login input:focus,
.login textarea:focus,
.login input:valid{
   border-bottom: 1px solid grey; 
}



#loginBtn {
    width: 100%;
    margin-top: 8%;
}

#uaeLogin {
    width: 100%;
}

#fbLogin {
    text-align: center;
    width: 100%;
}

#googleLogin {
    text-align: center;
    width: 100%;
}

#fbGoogleBtnDiv {
    margin-top: 5%;
}

#loginText {
       margin-top: 5%;
       margin-left: 10%;
}

#loginFormDiv {
    padding: 0% 9%;
    height: 80vh;
}

#signUpText{
    text-align: center;
    margin-top: 8%;
}

/* #rememberChck {
    float: left;
    margin-left:0;
    vertical-align:middle;
    display: inline-block;
} */

@media screen and (max-width: 450px) {
    .landing {
      /* border: 2px solid blue; */
      display: none;
    }

    .login {
        width: 100%;
        overflow-y: scroll;
    }
    
}

