body {
    margin-bottom: 10%;
}

.landingOTP {
    width: 66.7%;
    height: 90vh;
    overflow: hidden;
    float: left;
    background-image: url("../../Assets/images/landing.jpg");
    background-size: 100% 100%;
}

.sidePaneOTP {
    float: left;
    overflow: hidden;
    width: 33.3%;
    margin: 0;
    height: 90vh;
}

.dpamLogoOTP {
    text-align: center;
    margin: 24px 0 12px 0;
}

.sidePaneOTP input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    color: #999;
    border-bottom: 1px solid #999;
    padding: 5px 0;
    /* margin-bottom: 30px; */
}

.sidePaneOTP form div {
    position: relative;
}

.sidePaneOTP form div label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    transition: .5s;
    pointer-events: none;
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #909aa1;
}

.sidePaneOTP input:focus~label, .sidePaneOTP input:valid~label {
    top: -9px;
    left: 0px;
    color: grey;
    font-size: 12px;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #929ba2;
    /* font-weight: bold; */
}

.sidePaneOTP input:focus, .sidePaneOTP textarea:focus, .sidePaneOTP input:valid {
    border-bottom: 1px solid grey;
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #243745;
}

#submitOtpBtn {
    width: 100%;
    margin-top: 8%;
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    padding: 14px 0;
}

.EnterTextClassOTP {
    margin-top: 5%;
    width: 105px;
    height: 26px;
    font-family: HelveticaNeueMed;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #243745;
}

#FormDivOTP {
    padding: 0% 9%;
    height: 80vh;
}

.emailPhOtpErr {
    font-size: 12px;
    margin-bottom: 7%;
    font-family: HelveticaNeueReg;
    font-size: 14px;
     left: 0%;
    text-align: left; 
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #da291c;
}

#ResendOtpText {
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #585d63;
}

.otpRegNumSent {
    text-align: left;
    /* margin-left: 9%; */
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #243745;
}

.otpRegNumSentSecond {
    text-align: left;
    margin-left: 10%;
}

@media screen and (min-width: 300px) and (orientation:potrait) {
    .landingOTP {
        /* border: 2px solid blue; */
        display: none;
    }
    .sidePaneOTP {
        overflow-y: scroll;
        text-align: center;
        overflow-x: scroll;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .landingOTP {
        /* border: 2px solid blue; */
        display: none;
    }
    .sidePaneOTP {
        width: 100%;
        text-align: center;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 768px) {
    .landingOTP {
        /* border: 2px solid blue; */
        display: none;
    }
    .sidePaneOTP {
        text-align: center;
        width: 100%;
        overflow-y: scroll;
        /* overflow-y: scroll; */
    }
    .VerifyEmailTxt .EnterTextClassOTP #otpNumber {
        text-align: left;
    }
    .verifyEmailLinkMsg {
        text-align: left;
    }
}