.profile-header img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.profile-summary {
    border: 2px solid blue;
    /* margin-top:-12%; 
    z-index: 1;
     position: absolute; 
    left: 0;
    right: 0; */
    background-color: #f3f9ea;
}

.ll{
    margin-top:-12%; 
    z-index: 1;
     position: absolute; 
     left: 0;
    right: 0;
}



.profile-user-pic img{
    /* position:relative; */
    /* width:100%;
    height:100%; */
} 

 .file-upload {
    display: none;
}

.cam img{
    position: absolute;
    top: 60%;
    right: 3%;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }

.profile-user-name {
    font-family: HelveticaNeueBold;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: 1.3px;
    color: #a5cfa1;
    /* margin-bottom: 0%; */
}

.profile-fields {
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #929ba2;
    /* margin-bottom: 0%; */
}

.profile-fields-value {
    width: 141px;
    height: 21px;
    font-family: HelveticaNeueReg;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 1px;
    color: #333f48;
  }