.profile-header img {
    width: 60%;
    height: auto;
    max-width: 100%;
}

.profileIllustratonAdj {
    width: 100%;
}

.profileOption {
    cursor: pointer;
    position: relative;
    margin-left: 120px;
    margin-top: -50px;
}

.otpModelBox {
    width: 459px;
    height: 396px;
}
.model-otp-resend-txt{
    text-align: center;
}
.uploadPhotoTxt {
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333f48;
}

.removePhotoTxt {
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333f48;
}

.profile-contents {
    top: 35%;
    /* z-index: 1; */
    position: absolute;
    left: 0;
    right: 0;
}

.profile-summary {
    background-color: #ffffff;
    ;
    padding: 4%;
}

.optionsModel {
    margin-bottom: 5%;
    /* float: right; */
}

.uploadOption {
    /* display: block; */
    /* width: 50%; */
    /* float: right; */
    text-align: center;
}

.profileInstTxt {
    text-align: center;
}

.removeOption {
    /* display: block; */
    /* float: right; */
    text-align: center;
}

.profile-summary img {
    display: table-cell;
    vertical-align: middle;
}

.profile-header {
    background: url(../images/profile-banner.jpg);
    background-size: 100%;
    height: 32vw;
    background-repeat: no-repeat;
}

.file-upload {
    display: none;
}

.profile-pic {
    width: 164px;
    height: 164px;
}

/* .profile-pic-edit {
    background-color: white;
    width: 50px;
    height: 50px;
} */

.profile-pic-edit img {
    position: absolute;
    top: 60%;
    right: 0%;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.model-otp-reg-text {
    margin-top: 6%;
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #585d63;
}

.model-otp-text {
    margin-top: 10%;
    font-family: HelveticaNeueMed;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333f48;
}

.profile-user-name {
    font-family: HelveticaNeueBold;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: 1.3px;
    color: #333f48;
}

.profile-fields {
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #929ba2;
}

.profile-fields-value {
    width: 141px;
    height: 21px;
    font-family: HelveticaNeueReg;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 1px;
    color: #333f48;
}

.profile-details {
    padding-left: 0%;
    padding-right: 0%;
}

.profile-details-title {
    font-family: HelveticaNeueReg;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333f48;
    padding-left: 1%;
}

.card-header.profile-card-head:after {
    content: url("../../Assets/images/upArrow.svg");
    margin-top: 1%;
    float: right;
    cursor: pointer;
}

.card-header.profile-card-head.collapsed:after {
    content: url("../../Assets/images/downArrow.svg");
}

.card-header.profile-depend-card-head:after {
    content: url("../../Assets/images/upArrow.svg");
    margin-top: 1%;
    float: right;
    cursor: pointer;
}

.card-header.profile-depend-card-head.collapsed:after {
    content: url("../../Assets/images/downArrow.svg");
}

.profile-add-btn {
    float: right;
    cursor: pointer;
    padding-top: 4px;
}

.profile-card {
    border-radius: 0%;
    border: none;
    background-color: white;
}

.profile-header-main {
    z-index: 10;
    position: sticky;
    position: -webkit-sticky;
    position: sticky;
}

.profile-header-margin {
    margin: 10px 0px 5px 0px;
}

.middle-navigation-bar a {
    float: left;
    display: block;
    text-align: center;
    padding: 30px 16px 14px 16px;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 2px;
}

.middle-navigation-alignment {
    width: 43px;
    height: 15px;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

.right-icon-bar {
    text-align: center;
    padding: 25px 16px 14px 16px;
}

.right-icon-bar button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.icon-adjust {
    height: 15px;
    width: 15px;
}

.notification_count {
    background-color: #fa3e3e;
    border-radius: 8px;
    color: white;
    padding: 1px 3px;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.left-navigation-image img {
    width: 70%;
}

.profile-card-head {
    padding: 3% 1.7%;
    border-bottom: 3px solid #f7f7f7;
    background-color: white;
}

.profile-card-body {
    padding-bottom: 5%;
}

.profile-address-text {
    font-family: HelveticaNeueReg;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #333f48;
}

.profile-details-fields {
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #909aa1;
}

.profile-details-fields-value {
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #333f48;
}

.profile-contact-details-form input {
    border: 0;
    outline: 0;
    background: transparent;
    /* border-bottom: 1px solid black; */
}

.profile-dependent-form input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.profile-lease-details-form input {
    border: 0;
    outline: 0;
    background: transparent;
}

.profile-secondary-btn {
    padding: 10px 30px;
}

.profile-primary-btn {
    padding: 10px 40px;
}

.profile-dependent-cancel, .profile-dependent-save {
    display: inline-block;
}

.profile-contact-save {
    display: none;
}

.profile-contact-cancel {
    display: none;
}

.profile-dependent-content-head {
    border-bottom: none;
    background-color: white;
}

.profile-dependent-content-card {
    border: none;
}

.dynamic-profile-div {
    padding-top: 3%;
    padding-bottom: 2%;
}

.profile-delete {
    padding-left: 4.8%;
    margin-top: 1%;
    cursor: pointer;
}

.profile-input {
    position: relative;
}

.profile-input input {
    margin-top: 6%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #a7a9ad;
    padding: 4% 0;
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #333f48;
}

.profile-input label {
    position: absolute;
    /* top: 46%;     */
    top: 35%;
    transition: .5s;
    pointer-events: none;
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #333f48;
}

.profile-input input:focus~label, .profile-input input:valid~label {
    top: -6%;
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #909aa1;
    /* border: 2px solid blue; */
}

.profile-input :focus, .profile-input :valid {
    border-bottom: 1px solid #a7a9ad;
}

@media screen and (max-width: 480px) {
    .maxDiv {
        display: none;
    }
}