.profile-header .logo img {
    width: 90%;
    height: auto;
    max-width: 100%;
    margin-top: -10%;
} 

.profileIllustratonAdj {
    width: 100%;
}

.profileOption {
    cursor: pointer;
    position: relative;
    margin-left: 120px;
    margin-top: -50px;
}

.otpModelBox {
    width: 550px;
    height: 480px;
    /* padding: 57px; */
}

.otpConfirmModelBox {
    width: 459px;
    height: 294px;
}

.otp-common-padding {
    padding: 25px 0px 10px;
}

.otp-resend-href {
    color: #23527c;
}

.model-otp-resend-txt {
    text-align: center;
}

.uploadPhotoTxt {
    padding-top: 10%;
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333f48;
}

.removePhotoTxt {
    padding-top: 10%;
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333f48;
}

.profile-contents {
    top: 35%;
    /* z-index: 1; */
    position: absolute;
    left: 0;
    right: 0;
}

.profile-summary {
    background-color: #ffffff;
    padding: 4%;
}

.optionsModel {
    margin-bottom: 5%;
}

.uploadOption {
    text-align: center;
}

.uploadOption img {
    cursor: pointer;
}

.removeOption img {
    cursor: pointer;
}


.profileInstTxt {
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #909aa1;
    text-align: center;
}

.removeOption {
    text-align: center;
}

.profile-summary img {
    display: table-cell;
    vertical-align: middle;
}

.profile-header {
    background: url("../../Assets/images/profile-banner.jpg");
    background-size: 100%;
    height: 32vw;
    background-repeat: no-repeat;
}

.file-upload {
    display: none;
}

.profile-pic {
    width: 164px;
    height: 164px;
}

/* .profile-pic-edit {
    background-color: white;
    width: 50px;
    height: 50px;
} */

.profile-pic-edit img {
    position: absolute;
    top: 60%;
    right: 0%;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.successPopupImg {
    display: flex;
    justify-content: flex-end;
}

.successPopUpHeader {
    display: flex;
    justify-content: flex-start;
}

.successPopupHeaderAlign {
    position: relative;
    padding-top: 10px;
}

.model-otp-reg-text {
    margin-top: 6%;
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0px;
    color: #585d63;
}

.model-email-ver-text {
    word-wrap: break-word;
    margin-top: 6%;
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0px;
    color: #585d63;
}

.uploadProfileErr {
    text-align: center;
    font-family: HelveticaNeueReg;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #ff1100;
    margin-top: 1%;
    position: relative;
}

.model-sure-chg-text {
    text-align: center;
    /* word-wrap: break-word; */
    margin-top: 6%;
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0px;
    color: #333f48;
}

.emailVerPopupModelBox {
    width: 455px;
    height: 290px;
}

.model-otp-text {
    /* margin-top: 10%; */
    font-family: HelveticaNeueMed;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333f48;
}

.profile-user-name {
    font-family: HelveticaNeueBold;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: 1.3px;
    color: #333f48;
}

.profile-fields {
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #929ba2;
}

.profile-fields-value {
    width: 141px;
    height: 21px;
    font-family: HelveticaNeueReg;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 1px;
    color: #333f48;
}

.profile-details {
    padding-left: 0%;
    padding-right: 0%;
}

.profile-illustration {
    margin-left: -15%;
}

.profile-details-title {
    font-family: HelveticaNeueReg;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333f48;
    padding-left: 1%;
}

.card-header.profile-card-head:after {
    content: url("../../Assets/images/upArrow.svg");
    margin-top: 1%;
    float: right;
    cursor: pointer;
}

.card-header.profile-card-head.collapsed:after {
    content: url("../../Assets/images/downArrow.svg");
}

.card-header.profile-depend-card-head:after {
    content: url("../../Assets/images/upArrow.svg");
    margin-top: 1%;
    float: right;
    cursor: pointer;
}

.card-header.profile-depend-card-head.collapsed:after {
    content: url("../../Assets/images/downArrow.svg");
}

.profile-add-btn {
    float: right;
    cursor: pointer;
    padding-top: 4px;
}

.profile-card {
    border-radius: 0%;
    border: none;
    background-color: white;
}

.right-icon-bar {
    text-align: center;
    padding: 25px 16px 14px 16px;
}

.right-icon-bar button {
    background: transparent;
    border: none;
    cursor: pointer;
}


.notification_count {
    background-color: #fa3e3e;
    border-radius: 8px;
    color: white;
    padding: 1px 3px;
    font-size: 10px;
    position: relative;
    top: 0;
    right: 0;
}



.profile-card-head {
    padding: 3% 1.7%;
    border-bottom: 3px solid #f7f7f7;
    background-color: white;
}

.profile-card-body {
    padding-bottom: 5%;
}

.profile-address-text {
    font-family: HelveticaNeueReg;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #333f48;
}

.profile-details-fields {
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #909aa1;
}

.profile-details-fields-value {
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #333f48;
}

.profile-contact-details-form input {
    border: 0;
    outline: 0;
    background: transparent;
    /* border-bottom: 1px solid black; */
}

.profile-dependent-form input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.profile-lease-details-form input {
    border: 0;
    outline: 0;
    background: transparent;
}

.profile-secondary-btn {
    padding: 10px 0px;
    width: 100%;
    font-family: HelveticaNeueBold;
    border-radius: 0 !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    text-align: center;
    color: #585d63;
    border: 1px solid #333f48;
}

.profile-secondary-btn:hover, .profile-secondary-btn:focus, .profile-secondary-btn:active {
    color: red;
    border: 0.5px solid red;
    background-color: transparent;
    box-shadow: 0 0 0 0rem rgba(52, 58, 64, 0.5) !important;
}

.profile-primary-btn {
    padding: 10px 0px;
    width: 100%;
    font-family: HelveticaNeueBold;
    border-radius: 0 !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
}

.profile-primary-btn:hover, .profile-primary-btn:visited, .profile-primary-btn:focus {
    background-color: #DA291C;
    border: 1px solid #DA291C;
    box-shadow: 0 0 0 0rem rgba(52, 58, 64, 0.5) !important;
}

.profile-dependent-cancel, .profile-dependent-save {
    display: inline-block;
}

.profile-contact-save {
    display: none;
}

.profile-contact-cancel {
    display: none;
}

.profile-dependent-content-head {
    border-bottom: none;
    background-color: white;
}

.profile-dependent-content-card {
    border: none;
}

.dynamic-profile-div {
    padding-top: 3%;
    padding-bottom: 2%;
}

.profile-delete {
    padding-left: 4.8%;
    margin-top: 1%;
    cursor: pointer;
}

.profile-input {
    position: relative;
}

.profile-input input {
    margin-top: 6%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #a7a9ad;
    padding: 4% 0;
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #333f48;
}

.model-input-otp {
    /* margin-top: 6%; */
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #a7a9ad;
    /* padding: 4% 0; */
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #333f48;
}

.profile-input label {
    position: absolute;
    /* top: 46%;     */
    top: 35%;
    transition: .5s;
    pointer-events: none;
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #333f48;
}

.profile-input input:focus~label, .profile-input input:valid~label {
    top: -6%;
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #909aa1;
    /* border: 2px solid blue; */
}

.profile-input :focus, .profile-input :valid {
    border-bottom: 1px solid #a7a9ad;
}

.profileHeaderAdj {
    margin-top: 3%;
}

.profile-my-details-center-text{
    padding-bottom: 7%; 
  width: 371px;
  height: 81px;
  font-family: decalledscript;
  font-size: 70px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.9px;
  text-align: center;
  color: #ffffff;
  color: var(--white);
}

/*Header code added*/

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

a {
    color: #000;
}

/* header */

.header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 0;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
}

.header li a:hover, .header .menu-btn:hover {}

.header .myicons {
    display: inline-block;
    float: right;
    margin-right: 5%;
}

.headerNavOnScroll {
    background: none;
}

.headerNavOnScroll .header {
    background-color: black;
}


.headerNavOnScroll .profile-my-details-center-text{
    display: none;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    display: inline-block;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: url("../../Assets/images/Header_Icon.png");
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    /* background: rgb(252, 250, 250); */
    background: url("../../Assets/images/Header_Icon.png");
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .1s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
    margin-left: -69%;
    margin-top: 10%;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/*added for header footer*/

.profile-header {
    background: url("../../Assets/images/profile-banner.jpg");
    background-size: 100%;
    height: 32vw;
    background-repeat: no-repeat;
    position: sticky;
}

.right-side {
    right: 0;
    width: 20%;
    position: fixed;
    padding-top: 1%;
}

.image-size {
    width: 100%;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
    color: white;
}

.headerNavOnScroll {
    background: none;
    z-index: 10;
    position: sticky;
}

.headerNavOnScroll .header {
    background-color: black;
}


.header li a {
    display: block;
    text-decoration: none;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

.header li a:hover {
    border-bottom: #da291c solid 1px;
}


/* 48em = 768px */

@media screen and (min-width: 768px) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 11px;
    }
    .header .menu {
        clear: none;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
    .notification_count {
        top: -65%;
        right: -58%;
    }
    .right-side {
        max-width: 30%;
    }
}


@media screen and (min-width: 1200px) {
   
    .header li a {
        padding: 20px 25px;
    }

    .notification_count {
        top: -19%;
        right: 13%;
    }
    .header .menu {
         margin-left: 4%;
    }
}

@media screen and (max-width: 480px) {
  
    .profile-user-name {
        font-size: 20px;
        padding-left: 15%;
    }
    .profile-fields {
        font-size: 12px;
        padding-left: 24%;
       padding-top: 3%;
    }
    .profile-fields-value {
        font-size: 14px;
        padding-left: 22%;
    }
    .profile-details-fields {
        font-size: 12px;
    }
    .profile-details-fields-value {
        font-size: 14px;
    }
    .profile-details-title {
        font-size: 16px;
    }
    .profile-input input {
        font-size: 14px;
    }
    .profile-input label {
        font-size: 12px;
        top: 55%;
    }
    .profile-input input:focus~label, .profile-input input:valid~label {
        font-size: 10px;
        top: 10%;
    }
    .profile-header .logo img {
        margin-left: 47%;
    }
    .header .logo {
        padding: 10px 40px;
    }
    .header .menu-icon {
        float: left;
    }
    .header .menu-icon .navicon {
        margin-left: -214px;
    }
    .header .myicons .hideMobile {
        display: none;
    }
    .profile-edit-btn {
        text-align: center;
    }
    .hide-div {
        display: none;
    }
    .profile-header {
        background: url("../../Assets/images/profile-banner.jpg");
        background-size: 200%;
        height: 58vw;
        background-repeat: no-repeat;
        position: sticky;
        background-position: 50% 0%;
    }
    .profile-contents {
        top: 22%;
        /* z-index: 1; */
        position: absolute;
        left: 20px;
        right: 20px;
    }
    .headerNavOnScroll {
        background: none;
        z-index: 10;
        position: sticky;
    }
    .profile-details {
        padding-left: 0%;
        padding-right: 0%;
    }

    .footer {
        margin-right: -5%;
        margin-left: -5%;
    }
    .right-side {
        width: 30%;
        padding-top: 6%;
    }
    .profile-my-details-center-text{
      width: 395px;
      height: 58px;
      font-family: decalledscript;
      font-size: 50px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 2.1px;
      text-align: center;
      color: #ffffff;
      color: var(--white);
    }    

    .profile-summary img {
        left: 42px;
    }
    .profile-pic {
        margin-left: 54px;
      
    }
    .notification_count {
        top: -2px;
        right: 7px;
    }
}