
.resetPswrdlanding {
    width: 66.7%;
    height: 92.5vh;
    overflow: hidden;
    float: left;
    /* border: 2px solid red; */
    background-image: url("../images/landing.jpg");
    background-size: 100% 100%;
    
}

.resetPswrdRightPane {
    float: left;
    overflow: hidden;
    width: 33.3%;
    max-width: 500px;
    right:0;  
    margin: 0;
    height: 92.5vh;
  }

  .resetPswrdDpamLogo {
    text-align: center;
    margin: 24px 0 12px 0;
}

#resetPswrdFormDiv {
    padding: 0% 9%;
    height: 61vh;
}

#resetPswrdTxt {
    margin-top: 12%;
    font-family: HelveticaNeueMed;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #243745;
}

.loggedResetPswrdTxt {
    font-family: HelveticaNeueReg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #243745;
}

.resetPswrdRightPane input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
    padding: 5px 0;
    font-size:16px;
    font-family: HelveticaNeueReg;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #243745;
    /* margin-bottom: 30px; */
}


.resetPswrdRightPane form div {
    position: relative;
}
.resetPswrdRightPane form div label {
    position: absolute;
    top: 10px;
    color: #999;     
    transition: .5s;
    pointer-events: none;
    font-family: HelveticaNeueLight;
    font-size: 16px;
}

.resetPswrdRightPane input:focus ~ label,
.resetPswrdRightPane input:valid ~ label
{
    top: -9px;
    left: 0px;
    color: grey;
    font-size: 12px;
    /* font-weight: bold; */
}

.resetPswrdRightPane input:focus,
.resetPswrdRightPane input:valid{
   border-bottom: 1px solid grey; 
}

.oldResetPswrdErr {
    margin-bottom: 7%;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #da291c;
}

.newResetPswrdErr {
    margin-bottom: 7%;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #da291c;
}

#submitResetPswrd {
    width: 100%;
    margin-top: 8%;
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 1px; 
    text-align: center;
    color: #ffffff;
    padding: 14px 0;
}
