body {
    margin-bottom: 10%; 
}
.signup{
    
    float: left;
    overflow: hidden;
    width: 33.3%;
     margin: 0;
     height: 90vh; 
   
}


.pass-input { position: relative; width:100%; }
.pass-input input { border:none; background:#fff; display:block; width: 100%; box-sizing: border-box }
.pass-input img { position: absolute; top: 2px; right: 5px }
.pass-input .pwdStrengthSignUp{position: absolute; right: 5px }

.landingSignUp {
    width: 66.7%;
    height: 90vh;
    overflow: hidden;
    float: left;
    background-image: url("../../Assets/images/landing.jpg");
    background-size: 100% 100%;
    
}

.login {
  float: left;
  overflow: hidden;
  width: 33.3%;
  max-width: 500px;
  right:0;  
  margin: 0;
  height: 92.5vh;
  
}

.dpamLogo {
    text-align: center;
    margin: 24px 0 12px 0;
}

.signup input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    color:#999;
    border-bottom: 1px solid #999;
    padding: 5px 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-family: HelveticaNeueReg;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}


 .rememberLogin label input{
    width: 10%;  
    margin-top:2%;
     
} 

.rememberLogin label {
  
    width: 40%;
}

.forgotPswrd {
    float: right;
 
}


.signup form div {
    position: relative;
}
.signup form div label {
    position: absolute;
    top: 10px;
    color: #999;     
    transition: .5s;
    pointer-events: none;
}

.signup input:focus ~ label,
.signup input:valid ~ label
{
    top: -9px;
    left: 0px;
    color: grey;
    font-size: 12px;
   
}
#passwordSignUp{
    width:100%;
}



/*password label*/
#passwordSignUp input:valid ~ label,#passwordSignUp input:valid ~ label {
    top: -9px;
    left: 15px;
    color: grey;
    font-size: 12px;
    
}
.pswdErr {
    color: red;
    margin-left: 0%;
}

.pwdStrengthSignUp{
font-size: 12px;
margin-left: -47px;
 margin-top: -6px;
}

.invalidPassErr {
    color: red;
    margin-left: 0%;
}

#showPassSignUp{
    margin-left: -41px;
}


.signup input:focus,
.signup textarea:focus,
.signup input:valid{
   border-bottom: 1px solid grey; 
}


#signUpBtn{
    width: 100%;
    margin-top: 8%;
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 1px; 
    text-align: center;
    color: #ffffff;
    padding: 14px 0;
}
#loginBtn {
    width: 100%;
    margin-top: 8%;
}

#uaeLogin {
    width: 100%;
}

#fbLogin {
   text-align: center;
    width: 100%; 
}

#orText {
    text-align: center;
    margin-top:2%;
}



#signUpHeading {
    margin-top: 5%;
     margin-left: 9%;
     font-family: HelveticaNeueMed;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333f48;
}

#signUpFormDiv {
    padding: 0% 9%;
    height: 80vh;
}

#signUpText{
    text-align: left;
    margin-top: 2%;
    font-size: 14px;
    font-family: HelveticaNeueLight;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

#signUpTextSec{
    text-align: center;
    margin-top: 8%;
    font-size: 14px;
}

.equalCheck{
    color: red; 
}
.tooltip-inner ul li{
    color: red; 
}

.changeColor{
    color: green;
}
.cnfPswdErr {
    color: red;
}

.mailErr {
    color: red;
    margin-bottom: 7%;
}
.invalidEmailErr {
    color: red;
    margin-bottom: 7%;
}
 
.tooltip-inner ul{
    padding-left: 20px;
    font-size: 13px;
}

.arrow{
    left: 22px !important;
}
.tooltip-inner {
    background-color: #e7e5e5  !important;
    /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
    color: #031607 !important;
    max-width: 250px !important;
    margin-left: -8%;
    text-align: left !important;
 
  }

  .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: 0.5rem 0.5rem 0 !important;
    border-top-color: #e7e5e5 !important;
   
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    bottom: 0;
    border-width: 0 .5rem .5rem !important;
    border-bottom-color: #e7e5e5 !important;
}

.bs-tooltip-top .arrow {
    bottom: 0;
    background-color: #fdfdfd;
    margin-left: -29px;
}
  
  .tooltip.top .tooltip-arrow {
    border-top-color: #f2d7d9;
    background-color: #f2d7d9
  }
  
  .tooltip.right .tooltip-arrow {
    border-right-color: #f2d7d9;
    background-color: #f2d7d9
  }
  
  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #f2d7d9;
    background-color: #f2d7d9
  }
  
  .tooltip.left .tooltip-arrow {
    border-left-color: #f2d7d9;
    background-color: #f2d7d9
  }





@media screen and (min-width: 300px) and (orientation:potrait) {
    .landingSignUp {
        /* border: 2px solid blue; */
        display: none;
    }
    .signup {
        width: 100%;
        overflow-y: scroll;
        overflow-x: scroll;
    }
    #passwordSignUp {
        width: 110%;
    }
}

@media screen and (max-width: 450px) {
    .landingSignUp {
        /* border: 2px solid blue; */
        display: none;
    }
    .signup {
        width: 100%;
        overflow-y: scroll;
    }
    #passwordSignUp {
        width: 110%;
    }
}

/*Resolution Screen Size*/

@media screen and (max-width: 768px) {
    .landingSignUp {
      /* border: 2px solid blue; */
      display: none;
    }

    .signup {
        width: 100%;
        overflow-y: scroll;
        height:75vh;
    }

    #fbLogin {
        margin-bottom: 2%
    }
   .loginFooter{
       height: 25vh;
   }
   #passwordSignUp {
    width: 100%;
}
    
}