html , body {
    height: 100%;
}

.signup-right-pane {
    width: 33.5%;
    max-height: 85%;
    background-color: #f3f9ea; 
}

.signup-main {
    width: 100%;
    background-color: #f3f9ea;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 8%; 
}

#signupForm {
    background: #ffffff;
    /* padding: 12.5%; */
    background-color: #f3f9ea;
      /* border: 2px solid blue;   */
}

.signup-text {
    font-family: HelveticaNeueMed;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333f48;
}
.alert{
    display: none;
    margin-top: -80px;
    border-radius: 0 !important;
  
}

#signup-success {
    background-color: #ffffff;
  border: solid 1px #8bc43e;
}

.reg-success-msg {
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #585d63;
}

.signup-main .signup-input {
    position: relative;
}

.signup-main .signup-input input {
    width: 100%;
    box-sizing: border-box;
    background-color: #f3f9ea;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 0.5px solid #a7a9ad;
    padding: 4% 0; 
    font-family: HelveticaNeueMed;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2.2px;
    color: #333f48;
}

.signup-main .signup-input label {
    position: absolute;
    top: 46%;    
    transition: .5s;
    left: 0%;
    pointer-events: none;
    font-family: HelveticaNeueMed;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2.2px;
    color: #333f48;
}

.signup-main .signup-input input:focus ~ label,
.signup-main .signup-input input:focus ~ valid
 {
    top: -1%;
    left: 0%;
    font-family: HelveticaNeueMed;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1.7px;
    color: #cbcfd6;
}

.signup-main .signup-input input:focus,
.signup-main .signup-input input:valid {
   border-bottom: 1px solid grey; 
}

.login-pswrd-err {
    font-family: HelveticaNeueReg;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ff1100;
    text-align: left;
    left: 0%;
    margin-top: 1%;

}

.signup-mail-err {
    font-family: HelveticaNeueReg;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ff1100;
    text-align: left;
    left: 0%;
    margin-top: 1%;
}

.signup-invalid-mail-err {
    font-family: HelveticaNeueReg;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ff1100;
    text-align: left;
    left: 0%;
    margin-top: 1%;
}

.signup-pswrd-err {
    font-family: HelveticaNeueReg;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ff1100;
    text-align: left;
    left: 0%;
    margin-top: 1%;
}

.signup-invalid-pswrd-err {
    font-family: HelveticaNeueReg;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ff1100;
    text-align: left;
    left: 0%;
    margin-top: 1%;
}


.signup-cnfpswrd-err {
    font-family: HelveticaNeueReg;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ff1100;
    text-align: left;
    left: 0%;
    margin-top: 1%;
}


.signup-unequal-pswrd-err {
    font-family: HelveticaNeueReg;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ff1100;
    text-align: left;
    left: 0%;
    margin-top: 1%;
}

.signup-remembr-forgot-div {
    margin: 4% 0%;
}

/* The container */
.signup-remember-txt {
    display: block;
    position: relative;
    padding-left: 15%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.73;
    letter-spacing: 0.7px;
    color: #333f48;
}

/* Hide the browser's default checkbox */
.signup-remember-txt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.signup-remember-chck {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 17px;
    background-color:#e4eaec;
}

/* On mouse-over, add a grey background color */
.signup-remember-txt:hover input ~ .signup-remember-chck {
    background-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.signup-remember-chck:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.signup-remember-txt input:checked ~ .signup-remember-chck:after {
    display: block;
}

/* Style the checkmark/indicator */
.signup-remember-txt .signup-remember-chck:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #030608;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.signup-forgot-pswrd {
    margin-top: 1%;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #23527c;
}

#signupBtn {
    width: 100%;
    font-family: HelveticaNeueBold;
    border-radius: 0 !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    padding: 3% 3%;
}

.signup-or-txt {
    margin: 2% 0%;
    text-align: center;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6f747a;
}

#signup-uaeLogin {
    width: 100%;
    font-family: HelveticaNeueBold;
    border-radius: 0 !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    text-align: center;
    color: #585d63;
    padding: 3% 3%;
    border: 0.5px solid #a7a9ad;
}

#signup-uaeLogin:hover, #signup-uaeLogin:focus, #signup-uaeLogin:active {
    background-color: #F2F2F2;
    color: #585d63;
}


.signup-fb-google-div {
    margin-top: 2%;
}

.signup-fb-txt {
    font-family: HelveticaNeueBold;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    color: #585d63;
}

.signup-google-txt {
    font-family: HelveticaNeueBold;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2px;
    color: #585d63;
}
 
#fbLogin {
    float: left;
    width: 100%; 
    border-radius: 0 !important; 
    border: 0.5px solid #a7a9ad;
    padding: 5% 3%;
 }
 
 #fbLogin:hover, #fbLogin:focus, #fbLogin:active {
     background-color: #F2F2F2;
 }
 
 #googleLogin {
     float:right;
     width: 100%; 
     border-radius: 0 !important; 
     border: 0.5px solid #a7a9ad;
     padding: 5% 3%;
 }
 
 #googleLogin:hover, #googleLogin:focus, #googleLogin:active {
     background-color: #F2F2F2;
 }

 .signupNoAcntTxt{
    text-align: center;
    margin-top: 5%;
    font-family: HelveticaNeueReg;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: normal;
    text-align: center;
    color: #585d63;
    margin-bottom:0%;
}


.termsAndConditionTxt{
    text-align: center;
    margin-top: 3%;
    font-family: HelveticaNeueReg;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: normal;
    text-align: center;
    color: #585d63;
    margin-bottom:0%;
    margin-left:7%;
}

.loginSignUpTxt {
    font-family: HelveticaNeueReg;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #23527c;
}

.signup-illustration img {
    /* border: 2px solid yellow; */
    width: 100%;
    height: 100px;
}

.signup-illustration {
    padding-bottom: -50%;

}
/*copied from previous css*/

body {
    margin-bottom: 10%; 
}
.signup{
    
    float: left;
    overflow: hidden;
    width: 33.3%;
     margin: 0;
     height: 90vh; 
   
}


.pass-input { position: relative; width:100%; }
.pass-input input { border:none; background:#fff; display:block; width: 100%; box-sizing: border-box }
.pass-input img { position: absolute; top: 30%; right: 5px }
.pass-input .sign-up-pwd-strength{position: absolute; right: 5px }

.landingSignUp {
    width: 66.7%;
    height: 90vh;
    overflow: hidden;
    float: left;
    background-image: url("../../Assets/images/landing.jpg");
    background-size: 100% 100%;
    
}



.dpamLogo {
    text-align: center;
    margin: 24px 0 12px 0;
}

.signup input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    color:#999;
    border-bottom: 1px solid #999;
    padding: 5px 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-family: HelveticaNeueReg;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}


 .rememberLogin label input{
    width: 10%;  
    margin-top:2%;
     
} 

.rememberLogin label {
  
    width: 40%;
}

.forgotPswrd {
    float: right;
 
}


.signup form div {
    position: relative;
}
.signup form div label {
    position: absolute;
    top: 10px;
    color: #999;     
    transition: .5s;
    pointer-events: none;
}

.signup input:focus ~ label,
.signup input:valid ~ label
{
    top: -9px;
    left: 0px;
    color: grey;
    font-size: 12px;
   
}
#passwordSignUp{
    width:100%;
}



/*password label*/
#passwordSignUp input:valid ~ label,#passwordSignUp input:valid ~ label {
    top: -9px;
    left: 15px;
    color: grey;
    font-size: 12px;
    
}
.pswdErr {
    color: red;
    margin-left: 0%;
}

.sign-up-pwd-strength{
font-size: 12px;
margin-left: -47px;
 
}

.invalidPassErr {
    color: red;
    margin-left: 0%;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
}

#sign-up-show-password{
    margin-left: -41px;
}


.signup input:focus,
.signup textarea:focus,
.signup input:valid{
   border-bottom: 1px solid grey; 
}


#signUpBtn{
    width: 100%;
    margin-top: 8%;
    font-family: HelveticaNeueReg;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 1px; 
    text-align: center;
    color: #ffffff;
    padding: 14px 0;
}
#loginBtn {
    width: 100%;
    margin-top: 8%;
}

#uaeLogin {
    width: 100%;
}

#fbLogin {
   text-align: center;
    width: 100%; 
}

#orText {
    text-align: center;
    margin-top:2%;
}



#signUpHeading {
    margin-top: 5%;
     margin-left: 9%;
     font-family: HelveticaNeueMed;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333f48;
}

#signUpFormDiv {
    padding: 0% 9%;
    height: 80vh;
}

#signUpTermConText{
    text-align: left;
    margin-top: 2%;
    font-size: 14px;
    font-family: HelveticaNeueLight;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

#signUpTextSec{
    text-align: center;
    margin-top: 8%;
    font-size: 14px;
}

.equalCheck{
    color: red; 
}
.tooltip-inner ul li{
    color: red; 
}

.changeColor{
    color: green;
}
.cnfPswdErr {
    color: red;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
}

.mailErr {
    color: red;
    margin-bottom: 7%;
}
.invalidEmailErr {
    color: red;
    margin-bottom: 7%;
    font-family: HelveticaNeueReg;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
}
 
.tooltip-inner ul{
    padding-left: 20px;
    font-size: 13px;
    list-style-type: none;
}

.arrow{
    left: 22px !important;
}
.tooltip-inner {
    background-color: #e7e5e5  !important;
    /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
    color: #031607 !important;
    max-width: 250px !important;
    margin-left: -8%;
    text-align: left !important;
 
  }

  .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: 0.5rem 0.5rem 0 !important;
    border-top-color: #e7e5e5 !important;
   
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    bottom: 0;
    border-width: 0 .5rem .5rem !important;
    border-bottom-color: #e7e5e5 !important;
}

.bs-tooltip-top .arrow {
    bottom: 0;
    background-color: #fdfdfd;
    margin-left: -29px;
}
  
  .tooltip.top .tooltip-arrow {
    border-top-color: #f2d7d9;
    background-color: #f2d7d9
  }
  
  .tooltip.right .tooltip-arrow {
    border-right-color: #f2d7d9;
    background-color: #f2d7d9
  }
  
  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #f2d7d9;
    background-color: #f2d7d9
  }
  
  .tooltip.left .tooltip-arrow {
    border-left-color: #f2d7d9;
    background-color: #f2d7d9
  }




